.navbar {
  display: flex;
}

.navbar--left {
  justify-content: flex-start;
}

.navbar--center {
  justify-content: center;
}

.navbar--right {
  justify-content: flex-end;
}

.navbar__link {
  color: unset;
}

.navbar__link-item {
  transition: all 500ms ease;
}
