.navbar {
  display: flex;
}

.navbar--left {
  justify-content: flex-start;
}

.navbar--center {
  justify-content: center;
}

.navbar--right {
  justify-content: flex-end;
}

.navbar__link {
  color: unset;
}

.navbar__link:focus,
.navbar__link:hover {
  color: unset;
}

.navbar__link-item--active {
  color: var(--white) !important;
  background-color: var(--rs-primary-500) !important;
}
